/*menu*/
.bd{
    background-color:rgb(247, 194, 194);
    margin-left:20% ;
    margin-right:20% ;
}
.head{
    color:blueviolet;
    font-style: oblique;
    font-size:40px ;
    font-weight: bold;
    background-color:lightcyan;
}
.nav{
    font-style: italic;
    font-size:x-large;
    text-align: center;
    margin: 40 px;
    background-color: black;
    color: rgb(165, 225, 205);
}
.para{
    background-color:palegreen ;
    margin: 10px;
    margin-top:3px;
    margin-bottom:2px ;
    border-radius: 5px;
}
.img{
    width:400px ;
    height: 300px;
    margin:40px;
    margin-top:10px;
    margin-left: 250px;
    border-radius:15% ;
    }
    .country{
        background-color:peru;
        text-align: center;
        margin: 40px;
        margin-top:1px;
    }
    .p{
        color:darkgreen;
        font-size:large;
        background-color:pink;
    }
    .link{
        background-color: paleturquoise;
        height:220px;
    }
        .hr:hover{
            color: rgb(252, 248, 248);
            text-decoration: none;
        }
    .hr{
    background-color:rgb(220, 162, 181);;
    }
    /*china*/
    .ch{
        margin-left:20% ;
        margin-right:20% ;
        background-color: rgb(207, 249, 218);
    }
    .ina{
       font-size:xx-large; 
       font-style: oblique;
       text-align: center;
       background-color:rgb(250, 187, 187) ;
       border-radius: 10px ;
       margin-bottom: 2% ;
       margin-top: 5% ;     
    }
    .china1{
        height: 400px; 
        width: 600px; 
        border-radius: 15%;        
    }
    .cina{
        font-size: large;
    }
    .hina{

    }
    .wall{
        font-size: xx-large;
        margin-bottom: 2%;
        text-decoration: underline rgb(240, 154, 69);
        background-color: peachpuff;
        border-radius: 10px ;
    }
    .great{
        height:400px ;
        width: 600px;
        border-radius:5%  ;
    }
    .great1{
        font-size: large;
    }
    .heaven{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
    }
    .heaven1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
    }
    .heaven2{
        font-size: large;
    }
    .terracotta {
        font-size: xx-large;
        margin: 2%;    
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
    }
    .terracotta1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
    }
    .terracotta2{
        font-size: large;
    }
    .tombs{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
    }
    .tombs1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
    }
   .tombs2{
        font-size: large;
   }
   .forb{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .forb1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .forb2{
        font-size: large;
   }
   .potala{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .potala1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .potala2{
       font-size: large;
   }
   .summer{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .summer1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .summer2{
        font-size: large;
   }
   .classical{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .classical1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .classical2{
        font-size: large;
   }
   .lake{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .lake1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .lake2{
        font-size: large;
   }
   .yangshuo{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .yangshuo1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .yangshuo2{
        font-size: large;
   }
   .lijiang{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .lijiang1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .lijiang2{
        font-size: large;
   }
  .yangtze{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .yangtze1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .yangtze2{
        font-size: large;
   }
   .zhangji{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .zhangji1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .zhangji2{
        font-size: large;
   }
   .disney{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .disney1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .disney2{
        font-size: large;

   }
   .haichang{
        font-size: xx-large;
        margin: 2%;
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;
   }
   .haichang1{
        height: 400px;
        width: 600px;
        border-radius:5% ;
   }
   .haichang2{
        font-size: large;  
   }
   /*india*/
   .ndia{
    margin-left:20% ;
        margin-right:20% ;
        background-color: rgb(207, 249, 218);
   }
   .india{  
    font-size:xx-large; 
       font-style: oblique;
       text-align: center;
       background-color:rgb(250, 187, 187) ;
       border-radius: 10px ;
       margin-bottom: 2% ;
       margin-top: 5% ; 
   }
   .india1{
    height: 400px; 
        width: 600px; 
        border-radius: 15%;
   }
   .india2{
    font-size: large;
   }
   .idia{

   }
   .laksha{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ;    
   }
   .laksha1{
    height: 400px; 
        width: 600px; 
        border-radius: 15%;
   }
   .laksha2{
    font-size: large;
   }
   .leh{
    font-size: xx-large;
        margin: 2%;    
        text-decoration: underline;
        background-color: peachpuff;
        border-radius: 10px ;   
   }
   .leh1{
    height: 400px; 
        width: 600px; 
        border-radius: 15%;
   }
   .leh2{
    font-size: large;
   }
   .gokarna{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ;   
   }
   .gokarna1{
    height: 400px; 
        width: 600px; 
        border-radius: 15%;
   }
   .gokarna2{
    font-size: large;
   }
   .agra{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .agra1{
    height: 400px; 
        width: 600px; 
        border-radius: 15%;
   }
   .agra2{
    font-size: large;
   }
   .lotus{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .lotus1{
    height: 400px; 
        width: 600px; 
        border-radius: 15%;
   }
   .lotus2{
    font-size: large;
   }
   .havelock{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .havelock1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .havelock2{
    font-size: large;
   }
   .pondi{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .pondi1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .pondi2{
    font-size: large;
   }
   .goa{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .goa1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .goa2{
    font-size: large;
   }
   .manali{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .manali1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .manali2{
    font-size: large;
   }
   .alleppey{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .alleppey1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .alleppey2{
    font-size: large;
   }
   .varkala{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .varkala1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .varkala2{
    font-size: large;
   }
   .amritsar{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .amritsar1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .amritsar2{
    font-size: large;
   }
   .ooty{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .ooty1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .ooty2{
    font-size: large;
   }
   .coorg{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .coorg1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .coorg2{
    font-size: large;
   }
   .ujjain{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .ujjain1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .ujjain2{
    font-size: large;
   }
   .mountabu{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .mountabu1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .mountabu2{
    font-size: large;
   }
   .chikmag{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .chikmag1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .chikmag2{
    font-size: large;
   }
   .auli{
    font-size: xx-large;
    margin: 2%;    
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px ; 
   }
   .auli1{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;
   }
   .auli2{
    font-size: large;
   }

/*korea*/
.south{
    background-color: rgb(250, 230, 203);
    background-repeat: no-repeat;
    margin-right:10% ;
    margin-left:10% ;
}
.k{
    background-color: burlywood;
    color: azure;
    font-weight: 800;
    font-size: xx-large;
}
.o{
    
}
.r{
    color: blueviolet;
    font-size: large;
}
.e{

}
.a{

}
.seoul{
    font-size:xx-large;
    

}

