/*  india indonesia japan malaysia philippines singapore south korea  thailand vietnam*/
/*body*/
.ijm{
    max-width: 960px;
    margin:auto ;
    background-color: rgb(207, 249, 218); 
}
/*nav*/
.ijm1{
    font-size:xx-large; 
    font-style: oblique;
    text-align: center;
    background-color:rgb(250, 187, 187) ;
    border-radius: 10px ;
    margin-bottom: 2% ;
    margin-top: 5% ;    
    border-top:5px solid black ;
    border-bottom:2.5px solid black ;
}
/*image*/
.ijm2{
    height: 400px; 
    width: 600px; 
    border-radius: 15%;  
    box-shadow: 0 0 5px 5px #130c0c;
}
/*para*/
.ijm3{
    font-size: large;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-right:25px;
    margin-top:3px;
    margin-bottom:15px ;
    border-radius: 5px;
    text-align: justify;
}
/*ordered list*/
.list{
    
}
/*headings*/
.heading{
    font-size: xx-large;
        margin-bottom: 2%;
        text-decoration: underline 1px solid black ;
        background-color:  peachpuff;
        border-radius: 10px ;
        border-top:5px solid black ;
        border-bottom:2.5px solid black ;

}
/*image*/
.image{
    height: 400px;
    width: 600px;
    border-radius:5% ;
    box-shadow: 0 0 5px 5px #130c0c;
}
/*para*/
.para{
    font-size: large;
    text-align: justify;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-right:25px;
    margin-top:3px;
    margin-bottom:15px ;
    border-radius: 5px;
}
