h1{
    color:rgb(5, 160, 237);
    font-style: italic;
    font-size:30px ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color:white;
    font-weight: 200;
    font-size:large;
}
body{
    background-image:url('/img/night city.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
div{
    color:beige;
}